body{
    background-color: blue;
    color: violet;
}

#vestiario{
    background-color: red;
    color: white;
}

#calçados{
    background-color: green;
    color: black;
}

#camisetas{
    background-color: yellow;
    color: orange;
}

.fotos{
    background-color: pink;
    color: purple;
}